<div class="navbar bg-orange-600 text-neutral shadow-sm nav-bar">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> 
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li class="font-bold text-2xl"><a href="{% url 'core:home' %}">Inicio</a></li>
        <li class="font-bold text-2xl"><a href="{% url 'core:services' %}">Servicios</a></li>
        <li class="font-bold text-2xl"><a href="{% url 'core:contact' %}">Contacto</a></li>
        <li class="font-bold text-2xl"><a href="{% url 'core:gallery' %}">Galer&iacute;a</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Electricista Residencial y Plomer&iacute;a</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="font-bold text-2xl"><a href="{% url 'core:home' %}">Inicio</a></li>
      <li class="font-bold text-2xl"><a href="{% url 'core:services' %}">Servicios</a></li>
      <li class="font-bold text-2xl"><a href="{% url 'core:contact' %}">Contacto</a></li>
      <li class="font-bold text-2xl"><a href="{% url 'core:gallery' %}">Galer&iacute;a</a></li>
    </ul>
  </div>
</div>